@media only screen and (max-width: 575px) {
    .input-holder {
        position: fixed;
        bottom: 30px;
        left: 0;
        padding: 0 10px;
    }
}

@media only screen and (min-width: 576px) {
    .input-holder {
        position: fixed;
        bottom: 30px;
        left: 18vh;
        padding: 0 10px;
        width: 60%;
    }
}

@media only screen and (min-width: 992px) {
    .input-holder {
        left: 32.5vh;
        width: 45%;
    }
}

@media only screen and (min-width: 1200px) {
    .input-holder {
        left: 54vh;
        width: 35%;
    }
}