@media only screen and (max-width: 575px) {
    .left-panel, .right-panel {
        display: none;
    }
    .chat {
        margin-bottom: 100px;
    }
} 

@media only screen and (min-width: 576px) {
    .left-panel, .right-panel {
        display: none;
    }
} 

@media only screen and (min-width: 768px) {
    .left-panel, .right-panel {
        display: flex;
        height: 100vh;
        justify-content: flex-end;
    }
    .panel {
        background-color: aliceblue;
    }
    .chat {
        margin-bottom: 100px;
    }
} 


