

@media only screen and (max-width: 575px) {
    body {
        background-color: white;
    }

    .panel {
        display: none;
    }

    .chat {
        margin-bottom: 90px;
        background: white;
        height:100%;
    }
} 

@media only screen and (min-width: 576px) {  
    .panel {
        display: none;
    }

    .chat {
        background: white;
        margin-bottom: 90px;
        height:100%; 
    }
} 

@media only screen and (min-width: 768px) {
    html, body, #root, .row{
        height: 1000%;
        background-color: aliceblue;
    }

    .container-fluid {
        padding: 0;
        height: 1000%;
    }

    .panel {
        display: block;
        background-color: aliceblue;
        z-index: 1;
        height: 1000%;
    }
} 


