@media only screen and (max-width: 575px) {
    body {
        background-color: white;
    }

    .panel {
        display: none;
    }

    .chat {
        margin-bottom: 90px;
        background: white;
    }
} 

@media only screen and (min-width: 576px) {  
    .panel {
        display: none;
    }

    .chat {
        background: white;
        margin-bottom: 90px; 
    }
} 

@media only screen and (min-width: 768px) {
    .container-fluid {
        padding: 0
    }

    .panel {
        display: block;
        background-color: aliceblue;
        z-index: 1;
        width: 100%;
    }
} 


