@media only screen and (max-width: 575px) {
    .bot-output-holder {
        display: flex;
        margin: 10px 0;
    }

    .output-header {
        width: 13vw;
        height: 13vw;
        min-width: 13vw;
        min-height: 13vw;
        background: lightgray;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-container {
        padding: 5px;
        border: 1px solid lightgray;
        border-radius: 10px;
    }

    .bot-text {
        margin-left: 5px;
    }

    .options {
        width: 7vw;
        height: 7vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4285F4;
        border-radius: 50%;
        color: white;
        margin-left: 5px;
    }  
    
    .options-holder {
        display: flex;
    }
}

@media only screen and (min-width: 576px) {
    .bot-output-holder {
        display: flex;
        margin: 10px 0;
    }

    .output-header {
        width: 6vw;
        height: 6vw;
        background: lightgray;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-container {
        padding: 5px;
        border: 1px solid lightgray;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 60%;
    }

    .bot-text {
        margin-left: 5px;
    }

    .options {
        width: 5vw;
        height: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4285F4;
        border-radius: 50%;
        color: white;
        margin-left: 5px;
    }  
    
    .options-holder {
        display: flex;
    }
}

@media only screen and (min-width: 992px) {
    .output-header {
        width: 4vw;
        height: 4vw;
    }

    .options {
        width: 3vw;
        height: 3vw;
        margin-left: 5px;
    }  
}

@media only screen and (min-width: 1200px) {
    .output-header {
        width: 4vw;
        height: 4vw;
    }

    .options {
        width: 2vw;
        height: 2vw;
        margin-left: 5px;
    }  
}

