@media only screen and (max-width: 575px) {
    .user-output-holder {
        display: flex;
        justify-content: flex-end;
    }

    .user-output-header > img {
        width: 37px;
    }

    .user-text {
        background-color: aliceblue;
        margin-right: 5px;
        display: flex;
        justify-content: end;
        align-items: center;
    }
}

@media only screen and (min-width: 576px) {
    .user-output-holder {
        display: flex;
        justify-content: flex-end;
    }

    .output-headers > img {
        width: 37px;
    }

    .user-text {
        margin-right: 5px;
        text-align: right;
    }
}

/* output headers style is in bot output */
